// 全局样式文件

// 加载字体图标
@import "./icon.less";

// 全局背景色
body {
    background-color: #f5f7f9;
}
// 登陆组件-顶部导航栏样式
.page-nav-bar {
    background-color: #3296fa;
    .van-nav-bar__title {
        color: #fff;
    }
}